# Values are read in tests/integration/test-config.ts

# Required values
# Details of the Privy APP used for the ingration tests
TEST_APP_SECRET=bogus

# Details of the custom auth JWT used for resource ownership
JWT_AUTH_SK=bogus

# Details of the P256 keypair used for resource ownership
P256_PRIVATE_KEY=bogus

# Test account details
TEST_APP_TEST_ACCOUNT_OTP=bogus